input, li, button, * {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 18px;
}

.county-search-container {
	padding-top: 50px;
	max-width: 500px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

.search-bar {
	position: relative;
	input {
		width: 100%;
		padding: 10px;
		position: relative;
		background-color: transparent;
		border: solid 1px rgba(#999, .5);
		z-index: 10;
		border-radius: 4px;
		transition: box-shadow .3s ease-in;
		&:focus {
			border-bottom-right-radius: 0;
			border-bottom-left-radius: 0;
		}
		&:hover:not(:focus) {
			cursor: pointer;
			box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.1);
			~ button.show-list {
				color: lightblue;
			}
		}
		&:focus ~ button.show-list {
			z-index: 15;
			&:after {
				content: '▲';
			}
		}
		&:valid ~ button.clear-selection {
			display: block;
		}
	}
	button.show-list {
		z-index: 0;
		position: absolute;
		margin: auto;
		width: 30px;
		height: 30px;
		top: 0;
		bottom: 0;
		right: 10px;
		overflow: hidden;
		text-indent: -100000px;
		background-color: transparent;
		border: none;
		border-left: solid 1px rgba(#999, .5);
		color: #999;
		&:hover {
			color: lightblue;
			cursor: pointer;
		}
		&:after {
			content: '▼';
			text-indent: 0;
			display: block;
			width: 100%;
			position: absolute;
			top: 6px;
			right: -3px;
			transition: color .2s ease-in;
		}
		&:focus {
			outline: none;
		}
	}
	button.clear-selection {
		display: none;
		z-index: 20;
		position: absolute;
		margin: auto;
		width: 30px;
		height: 30px;
		top: 0;
		bottom: 0;
		right: 50px;
		overflow: hidden;
		text-indent: -100000px;
		background-color: transparent;
		border: none;
		color: #999;
		&:hover {
			cursor: pointer;
			&:after {
				color: tomato;
			}
		}
		&:after {
			content: 'x';
			text-indent: 0;
			display: block;
			width: 100%;
			position: absolute;
			top: 3px;
			left: 0px;
			transition: color .2s ease-in;
		}
		&:focus {
			outline: none;
		}
	}
}

.search-list {
	border: solid 1px rgba(#999, .5);
	box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.1);
	border-top: none;
	height: 375px;
	overflow-y: auto;
	position: relative;
	li {
		display: block;
		cursor: default;
		&.level-region {
			padding: 8px 20px;
		}
		&.level-state {
			padding: 8px 20px 8px 40px;
		}
		button {
			padding: 4px 20px 4px 60px;
		}
	}
	button {
		display: block;
		width: 100%;
		height: 100%;
		text-align: left;
		padding: 0;
		background-color: transparent;
		border: none;
		&:hover {
			cursor: pointer;
			background-color: #e7f0f7;
		}
	}
}

.loader, .no-results {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 18px;
	text-align: center;
	padding: 20px;
}